
<!-- setting header -->
<%- include("../../views/partials/admin/header") %>




    <section class="content-main">
        <div class="content-header">
            <div>
                <h2 class="content-title card-title">Products List</h2>
            </div>
        </div>
        <div class="card mb-4">
            <header class="card-header">
                <div class="row align-items-center">
                    <div class="col-md-3 col-12 me-auto mb-md-0 mb-3">
                        <input class="form-control" type="search" name="search" id="" placeholder="search">
                    </div>
                </div>
            </header>
            <!-- card-header end// -->
            <div class="card-body">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Product name</th>
                            <th>Category</th>
                            <th class="text-center">Offer Price</th>
                            <th class="text-center">Product Offer</th>
                            <th class="text-center">Offer</th>
                            <th class="text-center">Quantity</th>
                            <th class="text-center">Action</th>
                            <th class="text-center">Edit</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% for(let i = data.length-1;i>=0;i--){%>
                        <tr>
                            <td><%= data[i].productName %></td>
                            <td><%= data[i].category.name %></td>
                            <td class="text-center"><%= data[i].offerPrice %></td>
                            <td class="text-center">

                                <%if(locals.data[i].productOffer){%>
                                    <%= data[i].productOffer +'%' %>
                                    <%} else {%>
                                        0%
                                        <%}%>
                            </td>
                            <td class="text-center">
                            <%if(locals.data[i].productOffer===0){%>
                                <button class="btn btn-warning" onclick="addOffer('<%= data[i]._id %>')" style="width: 70px;font-size: small; height: 40px;padding-inline-start: 20px;">
                                    Add
                                </button>
                                <%}else{%>
                                <button class="btn btn-secondary" onclick="removeOffer('<%= data[i]._id %>')" style="width: 70px;font-size: small; height: 40px;padding-inline-start: 10px;">
                                    Remove
                                </button>
                            <%}%>
                            </td>
                            <td class="text-center">
                                <%=data[i].quantity%>
                            </td>
                            <td class="text-center">

                            <% if(data[i].isBlocked === false){ %>
                                <button class="btn btn-danger" style="font-size: small;" onclick="blockProduct('<%= data[i]._id %>',event)">
                                    Block
                                </button>
                                <% } else { %>
                                <button class="btn btn-success" style="font-size: small;" onclick="unBlockProduct('<%= data[i]._id %>',event)">
                                    Unblock
                                </button>
                               <% } %>

                            </td>
                            <td class="text-center">
                                <button class="btn btn-info" style="font-size: small;">
                                    <a href="/admin/editProduct?id=<%= data[i]._id %>" class="text-white" style="text-decoration: none;">Edit</a>
                                </button>
                            </td>
                        </tr>
                        <%}%>
                    </tbody>
                </table>           
            </div>
            <!-- card-body end// -->
        </div>
        <!-- card end// -->
        <div class="pagination-area mt-15 mb-50">
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-start">
                    <%for(let i=1;i<=totalPages;i++){%>
                    <li class="page-item <%= i==currentPage ? 'active' : ''%> " >
                        <a class="page-link" href="?page=<%= i %>"><%=i%></a>
                    </li>
                    <%}%>
                </ul>
            </nav>
        </div>
    </section>
    <!-- content-main end// -->
    <footer class="main-footer font-xs">
        <div class="row pb-30 pt-15">
            <div class="col-sm-6">
                <script>
                    document.write(new Date().getFullYear());
                </script>
                &copy; Nest - HTML Ecommerce Template .
            </div>
            <div class="col-sm-6">
                <div class="text-sm-end">All rights reserved</div>
            </div>
        </div>
    </footer>


    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>


 <!-- setting footer -->
 <%- include("../../views/partials/admin/footer") %>


 <script>



async function addOffer(productId) {
        const {value:percentage} = await Swal.fire({
            title:'Offer in percentage',
            input:'number',
            inputLabel:'Percentage',
            inputPlaceholder:'%',
            showCancelButton: true,
        })
        if(percentage){
            try {
                
                const response = await fetch('/admin/addProductOffer',{
                    method:'POST',
                    headers:{
                        'content-type':'application/json'
                    },
                    body:JSON.stringify({
                        percentage:percentage,
                        productId:productId
                    })
                })

                const data = await response.json()

                if(response.ok && data.status === true){
                    Swal.fire(
                        'Offer Added',
                        'The Offer has been added',
                        'success'
                    ).then(()=>{
                        location.reload()
                    })
                }else{
                    Swal.fire('Failed',data.message || 'Adding Offer failed','error')
                }

            } catch (error) {
                Swal.fire(
                    'Error',
                    'An error occured while adding the offer',
                    'error'
                )
                console.log('Error adding offer',error)
            }
        }
    }



    async function removeOffer(productId){
        try {
          const confirm = await Swal.fire({
                title:'Remove Offer',
                text:'Are you sure you want to remove Offer',
                icon:'warning',
                showCancelButton:true,
                confirmButtonText:'Yes,remove it',

            })

            if(confirm.isConfirmed){
                const response = await fetch('/admin/removeProductOffer',{
                method:'POST',
                headers:{
                    'content-type':'application/json'
                },
                body:JSON.stringify({
                        productId:productId
                    })
            })

            const data = await response.json()

            if(response.ok && data.status === true){
                Swal.fire(
                    'Offer removed',
                    'The offer has been removed',
                    'success'
                ).then(()=>{
                    location.reload()
                })
            }else{
                Swal.fire('Failed',data.message || 'Removing offer failed','error')
            }

            }

            
        } catch (error) {
            Swal.fire(
                'Error',
                'An error occured while removing the offer',
                'error'
            )
            console.error('Error removing offer',error)
        }
    }




 async function blockProduct(productId,event){
    event.preventDefault()
        try {
            const response = await fetch(`/admin/blockProduct?id=${productId}`,{
            method:'GET',
            })

        if(response.ok){
            location.reload()
        }else{
            console.log(response.statusText)
        }
         } catch (error) {
            console.error('Blocking product',error)
         }
    }



    async function unBlockProduct(productId,event){
        event.preventDefault()
        try {
            const response = await fetch(`/admin/unBlockProduct?id=${productId}`,{
            method:'GET',
            })

        if(response.ok){
            location.reload()
        }else{
            console.log(response.statusText)
        }
         } catch (error) {
            console.error('Unblocking product',error)
         }
    }


 </script>