
<!-- setting header -->
<%- include("../../views/partials/user/header") %>

<style>
    
.zoomable {
    cursor: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="32" height="32"><path fill="%23000" d="M13 11h6v2h-6v6h-2v-6H5v-2h6V5h2v6z"/></svg>') 16 16, auto;
}

#zoom-lens {
    display: none;
    position: absolute;
    width: 150px; /* Lens size */
    height: 150px;
    background-repeat: no-repeat;
    pointer-events: none;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
    transform: translate(-50%, -50%);
    z-index: 9999; /* Ensures it stays above everything */
    background-size: 200% 200%; /* Controls zoom level */
}


</style>

<div class="breadcrumbs">
    <div class="container">
        <div class="row">
            <div class="col">
                <p class="bread"><span><a href="/">Home</a></span> / <span>Product Details</span></p>
            </div>
        </div>
    </div>
</div>



<div class="colorlib-product" style="padding-top: 1em;">
    <div class="container">
        <div class="row row-pb-lg product-detail-wrap">
            

            <div class="col-sm-4">
                <div class="owl-carousel">
                    <% product.productImage.forEach((image, index) => { %>
                        <div class="item">
                            <div class="product-entry border">
                                <a href="#" class="prod-img">
                                    <img id="zoom-img-<%= index %>" 
                                         src="/uploads/reImage/<%= image %>" 
                                         class="img-fluid zoomable" 
                                         alt="Product Image">
                                </a>
                            </div>
                        </div>
                    <% }); %>
                </div>
            </div>
            
            <!-- Zoom Lens -->
            <div id="zoom-lens"></div>

          
            <div class="col-sm-8">
                <div class="product-desc">
                    <h3><%= product.productName %></h3>
                    <h6>Category: <%= category.name %></h6>
                    <p class="price">
                        <%if(product.regularPrice != product.offerPrice){%>
                        <span class="text-secondary h1" style="text-decoration: line-through;"><%= '₹' + product.regularPrice %></span>
                        <%}%>
                        <span><%= '₹' + product.offerPrice %></span> 
                        <span class="text-secondary h1">
                            <%if(!totalOffer){%>
                                No Offer
                            <%}else{%>
                                <%= totalOffer + '%' %> 
                                <%}%>
                        </span>
                        <span class="rate">
                            <i class="icon-star-full"></i>
                            <i class="icon-star-full"></i>
                            <i class="icon-star-full"></i>
                            <i class="icon-star-full"></i>
                            <i class="icon-star-half"></i>
                            (74 Rating)
                        </span>
                    </p>
                    <p><%= product.description %></p>
                    <span class="text-warning h6">Stock:<%= quantity %></span>
                    <div class="size-wrap">
                        <div class="block-26 mb-2">
                            <h4>Bottle Capacity: <%= product.capacity %></h4>
                    </div>
                    </div>
             <div class="input-group mb-4">

                 <span class="input-group-btn">

                    <button type="button" class="quantity-left-minus btn"  id="quantityMinus" onclick="changeQuantity('<%= product._id %>',-1)">
                   <i class="icon-minus2"></i>
                    </button>
                    </span>
                 <input type="text" id="quantity" name="quantity" class="form-control input-number col-md-2" value="1">
                 <span class="input-group-btn ml-1">
                    <button type="button" class="quantity-right-plus btn" id="quantityPlus" onclick="changeQuantity('<%= product._id %>',1)">
                     <i class="icon-plus2"></i>
                 </button>

                 </span>

              </div>
              <div class="row">
                  <div class="col-sm-12 text-center">
                    <p class="addtocart d-flex">
                        <button class="btn btn-primary btn-addtocart" onclick="addToCart('<%= product._id %>')">
                            <i class="icon-shopping-cart" style="display: contents;"></i> Add to Cart
                        </button>
                    </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <div class="row">
                    <div class="col-md-12 pills">
                        <div class="bd-example bd-example-tabs">
                          <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">

                            <li class="nav-item">
                              <a class="nav-link active" id="pills-description-tab" data-toggle="pill" href="#pills-description" role="tab" aria-controls="pills-description" aria-expanded="true">Description</a>
                            </li>
                            <li class="nav-item">
                              <a class="nav-link" id="pills-manufacturer-tab" data-toggle="pill" href="#pills-manufacturer" role="tab" aria-controls="pills-manufacturer" aria-expanded="true">Manufacturer</a>
                            </li>
                            <li class="nav-item">
                              <a class="nav-link" id="pills-review-tab" data-toggle="pill" href="#pills-review" role="tab" aria-controls="pills-review" aria-expanded="true">Review</a>
                            </li>
                          </ul>

                          <div class="tab-content" id="pills-tabContent">
                            <div class="tab-pane border fade show active" id="pills-description" role="tabpanel" aria-labelledby="pills-description-tab">
                              <p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life One day however a small line of blind text by the name of Lorem Ipsum decided to leave for the far World of Grammar.</p>
                                <p>When she reached the first hills of the Italic Mountains, she had a last view back on the skyline of her hometown Bookmarksgrove, the headline of Alphabet Village and the subline of her own road, the Line Lane. Pityful a rethoric question ran over her cheek, then she continued her way.</p>
                                <ul>
                                    <li>The Big Oxmox advised her not to do so</li>
                                    <li>Because there were thousands of bad Commas</li>
                                    <li>Wild Question Marks and devious Semikoli</li>
                                    <li>She packed her seven versalia</li>
                                    <li>tial into the belt and made herself on the way.</li>
                                </ul>
                            </div>

                            <div class="tab-pane border fade" id="pills-manufacturer" role="tabpanel" aria-labelledby="pills-manufacturer-tab">
                              <p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life One day however a small line of blind text by the name of Lorem Ipsum decided to leave for the far World of Grammar.</p>
                                <p>When she reached the first hills of the Italic Mountains, she had a last view back on the skyline of her hometown Bookmarksgrove, the headline of Alphabet Village and the subline of her own road, the Line Lane. Pityful a rethoric question ran over her cheek, then she continued her way.</p>
                            </div>

                            <div class="tab-pane border fade" id="pills-review" role="tabpanel" aria-labelledby="pills-review-tab">
                              <div class="row">
                                   <div class="col-md-8">
                                       <h3 class="head">23 Reviews</h3>
                                       <div class="review">
                                           <div class="user-img" style="background-image: url(images/person1.jpg)"></div>
                                           <div class="desc">
                                               <h4>
                                                   <span class="text-left">Jacob Webb</span>
                                                   <span class="text-right">14 March 2018</span>
                                               </h4>
                                               <p class="star">
                                                   <span>
                                                       <i class="icon-star-full"></i>
                                                       <i class="icon-star-full"></i>
                                                       <i class="icon-star-full"></i>
                                                       <i class="icon-star-half"></i>
                                                       <i class="icon-star-empty"></i>
                                                   </span>
                                                   <span class="text-right"><a href="#" class="reply"><i class="icon-reply"></i></a></span>
                                               </p>
                                               <p>When she reached the first hills of the Italic Mountains, she had a last view back on the skyline of her hometown Bookmarksgrov</p>
                                           </div>
                                       </div>
                                       <div class="review">
                                           <div class="user-img" style="background-image: url(images/person2.jpg)"></div>
                                           <div class="desc">
                                               <h4>
                                                   <span class="text-left">Jacob Webb</span>
                                                   <span class="text-right">14 March 2018</span>
                                               </h4>
                                               <p class="star">
                                                   <span>
                                                       <i class="icon-star-full"></i>
                                                       <i class="icon-star-full"></i>
                                                       <i class="icon-star-full"></i>
                                                       <i class="icon-star-half"></i>
                                                       <i class="icon-star-empty"></i>
                                                   </span>
                                                   <span class="text-right"><a href="#" class="reply"><i class="icon-reply"></i></a></span>
                                               </p>
                                               <p>When she reached the first hills of the Italic Mountains, she had a last view back on the skyline of her hometown Bookmarksgrov</p>
                                           </div>
                                       </div>
                                       <div class="review">
                                           <div class="user-img" style="background-image: url(images/person3.jpg)"></div>
                                           <div class="desc">
                                               <h4>
                                                   <span class="text-left">Jacob Webb</span>
                                                   <span class="text-right">14 March 2018</span>
                                               </h4>
                                               <p class="star">
                                                   <span>
                                                       <i class="icon-star-full"></i>
                                                       <i class="icon-star-full"></i>
                                                       <i class="icon-star-full"></i>
                                                       <i class="icon-star-half"></i>
                                                       <i class="icon-star-empty"></i>
                                                   </span>
                                                   <span class="text-right"><a href="#" class="reply"><i class="icon-reply"></i></a></span>
                                               </p>
                                               <p>When she reached the first hills of the Italic Mountains, she had a last view back on the skyline of her hometown Bookmarksgrov</p>
                                           </div>
                                       </div>
                                   </div>
                                   <div class="col-md-4">
                                       <div class="rating-wrap">
                                           <h3 class="head">Give a Review</h3>
                                           <div class="wrap text-center" >




                                            
                                            <form action="/addReviews" method="post" onsubmit="return review('<%= user?._id %>',event)">
                                                <textarea name="description" id="description" placeholder="Type here" class="form-control" rows="8"></textarea>
                                                <button type="submit" class="btn btn-secondary mt-4">Submit</button>
                                            </form>

                                           </div>
                                       </div>
                                   </div>
                               </div>
                            </div>
                          </div>
                        </div>
                 </div>
                </div>
            </div>
        </div>
 


      <div class="row" style="margin-top: 20px;">
        <div class="col-sm-8 offset-sm-2 text-center colorlib-heading colorlib-heading-sm" style="margin-bottom: 0px;">
            <h2>Related Products</h2>
        </div>

        <% similarProducts.forEach((product)=>{ %>
        <div class="col-md-3 col-lg-3 mb-4 text-center">
            <div class="product-entry border">
                <a href="/productDetails?id=<%= product._id %>" class="prod-img">
                    <img src="/uploads/reImage/<%= product.productImage[0] %>" class="img-fluid" alt="Free html5 bootstrap 4 template">
                </a>
                <div class="desc">
                    <h2><a href="#"><%= product.productName %></a></h2>
                    <span class="price"><%= product.offerPrice %></span>
                </div>
            </div>
        </div>
    <% }) %>
      </div>
         
    </div>
</div>


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/elevatezoom/3.0.8/jquery.elevateZoom.min.js"></script>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script>

// document.addEventListener("DOMContentLoaded", function () {
//         fetch(window.location.href)
//             .then(response => {
//                 if (!response.ok) {
//                     window.location.href = '/'
//                 }
//             })
//             .catch(error => console.error("Error checking product status:", error))
//     })

document.addEventListener("DOMContentLoaded", function () {
    const images = document.querySelectorAll(".zoomable");
    const lens = document.getElementById("zoom-lens");

    images.forEach(img => {
        img.addEventListener("mousemove", function (e) {
            zoomImage(e, img);
        });

        img.addEventListener("mouseleave", function () {
            lens.style.display = "none";
        });
    });

    function zoomImage(e, img) {
        const imgRect = img.getBoundingClientRect();
        const lensSize = 150; // Lens width and height
        const zoomLevel = 2; // 2x Zoom
        
        // Show the lens
        lens.style.display = "block";
        lens.style.backgroundImage = `url('${img.src}')`;
        lens.style.backgroundSize = `${img.width * zoomLevel}px ${img.height * zoomLevel}px`;

        // Get mouse position relative to the image
        let offsetX = e.clientX - imgRect.left;
        let offsetY = e.clientY - imgRect.top;

        // Prevent lens from going outside image boundaries
        const minX = lensSize / 2;
        const minY = lensSize / 2;
        const maxX = img.width - minX;
        const maxY = img.height - minY;

        offsetX = Math.max(minX, Math.min(offsetX, maxX));
        offsetY = Math.max(minY, Math.min(offsetY, maxY));

        // Position lens relative to viewport
        lens.style.left = `${e.pageX}px`;
        lens.style.top = `${e.pageY}px`;

        // Move background to match cursor
        lens.style.backgroundPosition = `-${(offsetX * zoomLevel) - minX}px -${(offsetY * zoomLevel) - minY}px`;
    }
});



async function addToCart(productId) {

    try {
        let quantityInput = document.getElementById(`quantity`)
        let quantity = parseInt(quantityInput.value)

        if(quantity < 1 || quantity > 5){
            Swal.fire({
                icon: 'warning',
                title: 'Quantity must be between 1 and 5',
                showConfirmButton: false,
                timer: 2000,
            })
            return
        }

        let response = await fetch('/addToCart',{
            method:'POST',
            headers:{
                'content-type':'application/json'
            },
            body:JSON.stringify({productId,quantity})
        })

        let data = await response.json()

        if(response.ok && data.status){
                Swal.fire({
                    icon: 'success',
                    title: 'Product added to Cart',
                    showConfirmButton: false,
                    timer: 1500,
                })
        }else{
            if(data.redirectUrl){
                await Swal.fire({
                    icon: 'warning',
                    title:'Please Login',
                    showConfirmButton: false,
                    timer: 2000,
                })

                window.location.href = data.redirectUrl
            }else{
                Swal.fire({
                    icon: 'warning',
                    title: data.message || 'Please Login',
                    showConfirmButton: false,
                    timer: 2000,
                })
            }
        }
    } catch (error) {
        console.error('Error adding product to cart',error)
        Swal.fire({
                    icon: 'error',
                    title: 'Server Error',
                    showConfirmButton: false,
                    timer: 1500,
                })
    }
}


function changeQuantity(productId,amount) {
    let quantityInput = document.getElementById('quantity')
    let currentQuantity = parseInt(quantityInput.value)
    let newQuantity = currentQuantity + amount

    if (newQuantity < 1 || newQuantity > 5) return

    quantityInput.value = newQuantity
}

    // fetch("/updateCartQuantity", {
    //     method: "POST",
    //     headers: {
    //         "Content-Type": "application/json",
    //     },
    //     body: JSON.stringify({productId, quantity:newQuantity}),
    // }).then(response => response.json())
    // .then(result => {
    //     if (result.status) {
    //         quantityInput.value = newQuantity
    //         console.log("Cart updated successfully. New total:", result.newTotal)
    //     } else {
    //         console.error("Failed to update cart:", result.message)
    //     }
    // })
    // .catch(error => console.error('Error',error))
 




async function review(userId,event){
        event.preventDefault()
        const description = document.getElementById('description').value.trim()
        try {
            const response = await fetch('/addReviews',{
            method:'POST',
            headers:{
                'content-type':'application/json'
            },
            body:JSON.stringify({
                userId:userId,
                description:description
            })
            })

        if(response.ok){
            location.reload()
        }else{
            console.log(response.statusText)
        }
         } catch (error) {
            console.error('Unblocking product',error)
         }
    }

</script>



<!-- setting footer -->
<%- include("../../views/partials/user/footer") %>