
<!-- setting header -->
<%- include("../../views/partials/user/header") %>



<div class="breadcrumbs">
    <div class="container">
        <div class="row">
            <div class="col">
                <p class="bread"><span><a href="index.html">Home</a></span> / <span>My Wishlist</span></p>
            </div>
        </div>
    </div>
</div>


<div class="colorlib-product">
    <div class="container">
        <div class="row row-pb-lg">
            <div class="col-md-10 offset-md-1">
                <div class="process-wrap">
                    <div class="process text-center active">
                        <p><span>01</span></p>
                        <h3>Shopping Cart</h3>
                    </div>
                    <div class="process text-center">
                        <p><span>02</span></p>
                        <h3>Checkout</h3>
                    </div>
                    <div class="process text-center">
                        <p><span>03</span></p>
                        <h3>Order Complete</h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="row row-pb-lg">
            <div class="col-md-12">
                <div class="product-name d-flex">
                    <div class="one-forth text-left px-4">
                        <span>Product Details</span>
                    </div>
                    <div class="one-eight text-center">
                        <span>Price</span>
                    </div>
                    <div class="one-eight text-center">
                        <span>Stock Status</span>
                    </div>
                    <div class="one-eight text-center">
                        <span>Add to Cart</span>
                    </div>
                    <div class="one-eight text-center px-4">
                        <span>Remove</span>
                    </div>
                </div>

                <% if(products.length > 0) {%>
                    <% products.forEach((item) => { %>
                <div class="product-cart d-flex">
                    <div class="one-forth">
                        <div class="product-img">
                            <img src="/uploads/reImage/<%= item.productId.productImage[0] %>" alt="<%= item.productId.productName %>" style="width: 90px;">
                        </div>
                        <div class="display-tc">
                            <h3><%= item.productId.productName %></h3>
                        </div>
                    </div>
                    <div class="one-eight text-center">
                        <div class="display-tc">
                            
                            <span class="price">₹<%= item.productId.offerPrice %></span>
                        </div>
                    </div>

                    <div class="one-eight text-center">
                        <div class="display-tc">
                            <span class="price">Stock: <%= item.productId.quantity %></span>
                        </div>
                    </div>

                    <div class="one-eight text-center">
                        <div class="display-tc">
                            <button class="btn btn-secondary" onclick="wishlistToCart('<%= item.productId._id %>')">
                                <a class="icon-shopping-cart text-white"></a>
                            </button>
                        </div>
                    </div>
                  
                    <div class="one-eight text-center">
                        <div class="display-tc">
                            <a onclick="deleteItem('<%= item.productId._id %>')" class="closed"></a>
                        </div>
                    </div>
                </div>
                <% }) %>
                <% } %>
                
            </div>
        </div>


        <!-- related Products================================================ -->
        <div class="row">
            <div class="col-sm-8 offset-sm-2 text-center colorlib-heading colorlib-heading-sm">
                <h2>Shop more</h2>
            </div>
        </div>
        <div class="row">


            <% if(similarProducts.length > 0) { %>
                <% similarProducts.forEach((item) => { %>
                    <div class="col-md-3 col-lg-3 mb-4 text-center">
                        <div class="product-entry border">
                            <a href="/productDetails?id=<%= item._id %>" class="prod-img">
                                <img src="/uploads/reImage/<%= item.productImage[0] %>" class="img-fluid" alt="Free html5 bootstrap 4 template">
                            </a>
                            <div class="desc">
                                <h2><a href="#"><%= item.productName %></a></h2>
                                <span class="price"><%= item.offerPrice %></span>
                            </div>
                        </div>
                    </div>
                    <% }) %>
                    <% } %>
            
            
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script>


    async function wishlistToCart(productId){
        try {

            const response = await fetch('/wishlistToCart',{
                method:'POST',
                headers:{
                    'content-type':'application/json'
                },
                body:JSON.stringify({productId})
            })

            const data = await response.json()

            if(response.ok && data.status){
               await Swal.fire({
                    icon: 'success',
                    title: 'Product added to Cart',
                    showConfirmButton: false,
                    timer: 1500,
                })

                window.location.reload()
            }else{
                Swal.fire({
                    icon: 'warning',
                    title: data.message ,
                    showConfirmButton: false,
                    timer: 1500,
                })
            }
            
        } catch (error) {
            console.error('add to cart',error)
        }
    }


    function deleteItem(itemId) {
                 Swal.fire({
                         title: "Are you sure?",
                         text: "Are you sure you want to remove this item?",
                         icon: "warning",
                         showCancelButton: true,
                         confirmButtonColor: "#d33",
                         cancelButtonColor: "#3085d6",
                         confirmButtonText: "Yes, remove it!"
                     }).then((result) => {
                       if (result.isConfirmed) {
                              fetch(`/deleteWishlistItem/${itemId}`, {
                                 method: 'DELETE',
                                 headers: {
                                    'Content-Type': 'application/json'
                               }
                           }).then(response => response.json()) 
                             .then(data => {
                                  if (data.status) { 
                                      Swal.fire(
                                          "Deleted!",
                                          "Item has been removed.",
                                          "success"
                            ).then(() => {
                                  window.location.reload()
                           })
                               } else {
                                   Swal.fire(
                                      "Error!",
                                      "Failed to remove the Item.",
                                      "error"
                            )
                          }
                          }).catch(err => {
                               console.error(err)
                               Swal.fire(
                               "Error!",
                               "Something went wrong. Please try again.",
                               "error"
                             )
                          })
                        }
                      })  
    }








</script>


<!-- setting footer -->
<%- include("../../views/partials/user/footer") %>